.top_Navbar {
  background-color: rgb(148, 148, 175);
  overflow: hidden;
}

.top_Navbar a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top_Navbar a:hover {
  background-color: #ddd;
  color: black;
}

.top_Navbar a.active {
  background-color: rgb(38, 180, 38);
  color: whitesmoke;
}

